

<form class="form" action="/" method="post">
    <h1>WEATHER APP</h1>
    <div class="city-title">
        <label for="city">City:</label>
        <input type="text" name="city">
    </div>
    <br>
    <div class="country-code-title">
        <label for="countryCode">Country Code:</label>
        <input type="text" name="countryCode">
    </div>

    <br>
    <input type="submit" value="submit">

    <ul>
        <li>Description: {{desc}}</li>
        <li>Temperature: {{temp}}</li>
    </ul>

</form>

