@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:lightblue;
    font-family:'Roboto', sans-serif;
}

.city-title {
    display: flex;
    flex-direction: row;
}

.country-code-title {
    display: flex;
    flex-direction: row;
}